body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  background-image: url('img2.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #af4c4c;
  position: relative;
  overflow: hidden;
}

.title::after {
  content: "";
  position: absolute;
  right: 1px;
  width: 5px;
  height: 100%;
  background-color: #af4c4c;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.title span {
  opacity: 0;
  display: inline-block;
  animation: slideIn 1s forwards;
  animation-delay: calc(0.15s * var(--index));
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.add-topic-button {
  background-color: #4287f5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}